@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
   /* background-color: #2f2f65;  */
  /*background-image: url("/images/Household.png");  update path */
  background-size: cover;        /* fills entire screen */
  background-position: center;   /* keeps it centered */
  /*background-repeat: no-repeat;   prevents tiling */
  background-attachment: fixed;  /* optional: parallax effect */
  width: 100vw;
}

p {
  margin: 0;
}
